#page{
    margin: 0 auto;
    
    width: 100%;
    max-width: 610px;
}


.container{
    height: 100%;
    min-height: 842px;


    box-shadow: -3px 3px 100px 14px rgba(0,0,0,0.09);
    -webkit-box-shadow: -3px 3px 100px 14px rgba(0,0,0,0.09);
    -moz-box-shadow: -3px 3px 100px 14px rgba(0,0,0,0.09);
}



.title-list{
    font-weight:400;
    font-size: 1.5rem;
    line-height: 2.3438rem;
}

.card-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-item{
    border: 2px solid #EDF2F7;
    border-radius: 14px;
    padding: 1.25rem 1rem 1rem;
}

.card-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 0.75rem;
}

.card-heading-title{
    font-size: 1rem;
    font-weight: 700;
}


.card-heading-labels{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card-heading-label-button{
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;

    background: #1A202C;
    padding: 0.3125rem 0.625rem;
    border-radius: 7px;
}

.card-description{
    color: #000;
    font-size: 12px;
    line-height: 0.9063rem;

    border-top: 2px solid #EDF2F7;
    padding-top: 0.75rem;
}

.bg-gray-light{
    background:#F7FAFC;
}

.font-bold{
    font-weight: 700;
}

.x-sm{
    font-size: 0.75rem; 
}

#page .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#page .page-header-primary h2,
#page .page-header-primary time{
    font-size: 1rem;
    line-height: 22px;
}


#page .page-header-primary h2{
    font-weight: 700;
}

#page .page-header-primary time{
    font-weight: 400;
}


#page .page-header-secondary h2{
    font-weight: 400;
    font-size: 14px;
    line-height:20px;
}

#page .page-header-secondary img{
    width: 73px;
    height: 24px;
}


@media print{
    @page{
        margin:0;
    }

    .container{
        page-break-after: always; 

        width: 8.27in;
        height: 11.69in; 

        box-shadow: none;
   }

   #page{
        width: 100%;
        max-width: 100%;
    }
}