*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#1A202C;
    font: 400 1rem 'Inter', sans-serif;
}

ul{
    list-style: none;
}


button{
    cursor:pointer;
    border: 0;
}

a{
    text-decoration:none;
}

@media print{
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust:exact !important;
      }

}