.container-insurance{
    padding: 2.5rem 3.75rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.insurance-item-info-content{
    border-top: 2px solid #EDF2F7;
    padding: 0.75rem 0;

    display: flex;
    flex-direction:column;
    gap: 0.75rem;
}


.insurance-item-info-content + .insurance-item-info-content{
    padding-bottom:0;
}


.insurance-item-info-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.insurance-item-info-item{
    display: flex;
    justify-content: space-between;
}

.insurance-item-info-item span{
    font-size: 0.75rem;
}

.insurance-item-info-item span:last-of-type{
    font-weight: 700;
}


@media (min-width: 768px){
    .insurance-item-info-item{
        flex-direction: row;
        justify-content: space-between;
    }
}