.container-end{
    padding: 2.5rem 3.125rem;
    background:#1A202C;

    display: flex;
    align-items: flex-end;
}


.container-end-content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.container-end-content span{
    color: #fff;
    font-weight: 500;
    font-size: 0.75rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}


.container-end-content > img{
    width: 85px;
    height: 28px;
}
