.container-intro{
    padding: 2.5rem 3.125rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-content{
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.intro-content img{
    width: fit-content;
    height: fit-content;
}

.intro-content p{
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font-weight: 500;
    font-size: 0.75rem;
}

.intro-footer p{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.375rem;
}

.intro-footer span{
    font-weight: 400;
    font-size:  0.75rem;
    line-height: 1.25rem;
}