.container-vehicles{
    padding: 2.5rem 3.75rem;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vehicles-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.vehicles-item{
    border: 2px solid #EDF2F7;
    border-radius: 6px;

    padding: 0.375rem;
}

.vehicles-item-heading{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    border-bottom: 2px solid #EDF2F7;
    padding-bottom: 0.5rem;
}

.vehicles-item-heading div{
    margin-left: auto;
}

.vehicles-item-heading-labelIndex{
    flex: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;

    width: 20px;
    height: 20px;

    background:#1A202C;
    color: #fff;

    font-size: 0.625rem;
    line-height: 0.75rem;
    font-weight: 700;
}

.vehicles-item-heading-name{
    font-size: 0.625rem;
    line-height: 0.95rem;
    font-weight: 700;

    color: #1A202C;
}

.vehicles-item-footer{
    margin-top: 0.5rem;

    font-size: 0.625rem;
    line-height:0.75rem;
    color:#000000;


    display: grid;
    column-gap: 0.5rem;
    gap: 0.3125rem;
}

.vehicles-item-footer-item > span{
    padding: 0.125rem 0.25rem;

    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px){
    .vehicles-item-footer{
        grid-template-columns: repeat(2,1fr);
    }

    .col-2{
        grid-column: 1/3;
    }
}


@media print{
    .vehicles-item-footer{
        grid-template-columns: 85mm 85mm;
    }

    .col-2{
        grid-column: 1/3;
    }
}