.container-flow{
    padding: 2.5rem 3.125rem;

    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.flow-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flow-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.bg-icon{
    flex:none;

    display:flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;

    border-radius: 12px;
    background: #1A202C;
}

.bg-red{
    background:#D95757;
}

.bg-green{
    background:#268738
}

.bg-yellow{
    background:#FF7F22;
}
