.container-features{
    padding: 6.25rem 2.875rem 25rem;

    background:#1A202C;
    color: #fff;
}

.container-features-header h2,
.container-features-header strong{
    font-size: 1.5rem;
    line-height: 1.9531rem;
}

.container-features-header h2{
    font-weight: 400;
}

.container-features-header strong{
    font-weight: 700;
}


.container-features .features-list{
    margin-top: 1.875rem;

    display: flex;
    flex-direction: column;
    gap: 1.875rem;
} 


.container-features .feature-item{
    padding: 0.875rem;
    padding-top: 1rem;

    border: 2px solid #2D3748;
    border-radius: 0.875rem;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;
} 

.container-features .feature-item-heading{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}



.container-features .feature-item strong{
    font-size: 1rem;
} 

.container-features .feature-item p{
    padding-left: 0.1875rem;

    font-size: 0.75rem;
} 